body, html {
  height: 100%;
  font-family: 'Space Grotesk', sans-serif;
}

.bg { 
  /* The image used */
  background-image: url("subnavp.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}