{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<!-- <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}"> -->
<style>


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
</style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse" style="background-color: #deedff; border: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home/" style= "7u; color: #003d87">VACCESS</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/" class = "color_me" id="spaceGroFont" style="color: #003d87;">Home</a></li>
      <li><a href= "/statistics/" id="spaceGroFont" style="color: #003d87">Statistics</a></li>
     <li><a href="/asmts/" style="color: #003d87">Assess</a></li>
    <li><a href="/about/" style="color: #003d87">About Us</a></li>
    
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/dash/" style="color: #003d87"><span class="glyphicon glyphicon-user" style="color: #003d87"></span>Account Dashboard</a></li>
      <li><a href="/login/" style="color: #003d87"><span class="glyphicon glyphicon-log-in" style="color: #003d87"></span> Sign Up/Login</a></li>
    </ul>
  </div>
</nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="">Edit Profile</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Report</a></li>
            <li><a href="">COVID-19 Support</a></li>
          </ul>
          
          <ul class="nav nav-sidebar">
            <li><a href="">Family Accounts</a></li>
            <li><a href="">Recent Test Results</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Change Page Language</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, Patricia Gomez</h1>
          <div class="row placeholder">
            <ul class="">
            <li>Date of Birth: 01/05/1994 (Age: 26)</li>
            <li>Race/Ethnicity: African-American, Hispanic/Latin</li>
            <li>Recent Vaccination: COVID-19</li>
            <ul><li>No negative side effects reporting.</li></ul>
            <li>Risk Level: Low</li>
          </ul>
          </div>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://www.flaticon.com/svg/static/icons/svg/3090/3090423.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Community</h4>
              <span class="text-muted">See what services are available in your area.</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://static.thenounproject.com/png/158685-200.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Recent Trends</h4>
              <span class="text-muted">Statistics and data on recent diseases and health trends.</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://static.thenounproject.com/png/3247096-200.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>COVID-19 Resources</h4>
              <span class="text-muted">Recent COVID-19 updates, location updates, contact tracing, COVID-19 Self Reporting</span>
            </div>
            
          </div>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th># of Total Assessments</th>
                  <th>Name</th>
                  <th>My Result</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4,102</td> 
                  <td>COVID-19</td>
                  <td>Medium</td>
                  <td>Low</td>
                </tr>
                <tr>
                  <td>2,243</td>
                  <td>Diabetes</td>
                  <td>Low</td>
                </tr>
                <tr>
                  <td>1,322</td>
                  <td>Pregnancy</td>
                  <td>Positive</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}